& {
  .gallery {
    width: 100%;

    &::before {
      /* this is the dark layer covering the .gallery when the .folding-panel is open */
      display: block;
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
    }

    .fold-is-open &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}
