&.is-desktop {

  &.fold-is-open > * {
    transform: translateX(600px);
  }
}

&.is-huge {

  &::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }

  &.fold-is-open > * {
    /* reset style - on bigger devices we translate the gallery items */
    transform: translateX(0);
  }
}

& {
  .gallery {
    width: 100%;

    &::before {
      /* this is the dark layer covering the .gallery when the .folding-panel is open */
      display: block;
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
    }

    .fold-is-open &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}
