<div class="cd-main">
  <ul class="cd-gallery">
    <li class="cd-item">
      <a href="item-1.html">
        <div>
          <h2>Title 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
          <b>View More</b>
        </div>
      </a>
    </li>

    <li class="cd-item">
      <a href="item-2.html">
        <div>
          <h2>Title 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
          <b>View More</b>
        </div>
      </a>
    </li>

    <li class="cd-item">
      <a class="dark-text" href="item-3.html">
        <div>
          <h2>Title 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
          <b>View More</b>
        </div>
      </a>
    </li>

    <li class="cd-item">
      <a href="item-4.html">
        <div>
          <h2>Title 4</h2>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
          <b>View More</b>
        </div>
      </a>
    </li>
  </ul>
  <!-- .cd-gallery -->
</div>
<!-- .cd-main -->

{{folding-panel}}
