& {
  height: 300px;
  text-align: center;

  /* Force Hardware Acceleration */
  transform: translateZ(0);
  backface-visibility: hidden;

  b {
    display: inline-block;
    font: {
      size: 1.2rem;
      weight: bold;
    }
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.3em 1.3em 1em 1.3em;
    border-radius: 50em;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    line-height: 1.2;
    font-size: 1.4rem;
    opacity: 0.6;
    padding: 1em 0;
  }
}
