// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

& {
  height: 300px;
  text-align: center;

  /* Force Hardware Acceleration */
  transform: translateZ(0);
  backface-visibility: hidden;

  a {
    overflow: hidden;
    @include font-smoothing;
  }

  &:hover {
    cursor: pointer;
  }

  b {
    display: inline-block;
    font: {
      size: 1.2rem;
      weight: bold;
    }
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.3em 1.3em 1em 1.3em;
    border-radius: 50em;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    line-height: 1.2;
    font-size: 1.4rem;
    opacity: 0.6;
    padding: 1em 0;
  }
}

&.is-huge {
  height: 520px;

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.6rem;
  }

  h2, p, .extra-content * {
    transform: translateY(30px);
    transition: transform 0.3s 0.1s;
  }

  b {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s 0s, transform 0.3s 0s;
  }

  &:hover {
    h2,
    p,
    .extra-content * {
      transform: translateY(0);
      transition: transform 0.3s 0s;
    }

    b {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
    }
  }

  .fold-is-open & {
    transform: translateX(-400px);

    &:nth-of-type(2n) {
      transform: translateX(400px);
    }
  }
}
