@import 'ember-3d-folding-panel';
@import './fonts';

$purple: #363558;

body {
  background-color: $overlay-color;
  color: $purple;
  font-family: $f-primary; // variables inside partials > _variables.scss
}

.client-image {
  height: auto;
  padding: 10px;
  width: 100px;
}

/* --------------------------------
Header
-------------------------------- */

header {
  background: $color-6;
  height: 170px;
  line-height: 170px;
  text-align: center;

  h1 {
    color: $purple;
    font-size: 1.2rem;
  }

  @media (min-width: 992px) {
    height: 200px;
    line-height: 200px;

    h1 {
      font-size: 1.9rem;
    }
  }
}

.pacifico {
  font-family: $f-pacifico;
}
