@import 'ember-3d-folding-panel';
@import './fonts';

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $f-primary; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $overlay-color;
}

.client-image {
	height: auto;
	padding: 10px;
	width: 100px;
}

/* --------------------------------
Header
-------------------------------- */

header {
	height: 170px;
	line-height: 170px;
	text-align: center;
	background: $color-6;

	h1 {
		font-size: 2.2rem;
		color: $color-1;
	}

	@media(min-width: 992px) {
		height: 200px;
		line-height: 200px;

		h1 {
			font-size: 3rem;
		}
	}
}

.pacifico {
	font-family: $f-pacifico;
}
