@import url(https://fonts.googleapis.com/css?family=Pacifico);

@font-face {
  font-family: 'Pier Sans';
  font-style: italic;
  font-weight: 300;
  src:
    url('/fonts/PierSans-LightItalic.woff2') format('woff2'),
    url('/fonts/PierSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: normal;
  font-weight: 300;
  src:
    url('/fonts/PierSans-Light.woff2') format('woff2'),
    url('/fonts/PierSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: normal;
  font-weight: 900;
  src:
    url('/fonts/PierSans-Black.woff2') format('woff2'),
    url('/fonts/PierSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: italic;
  font-weight: 500;
  src:
    url('/fonts/PierSans-MediumItalic.woff2') format('woff2'),
    url('/fonts/PierSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: normal;
  font-weight: 500;
  src:
    url('/fonts/PierSans-Medium.woff2') format('woff2'),
    url('/fonts/PierSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: normal;
  font-weight: bold;
  src:
    url('/fonts/PierSans-Bold.woff2') format('woff2'),
    url('/fonts/PierSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: italic;
  font-weight: 900;
  src:
    url('/fonts/PierSans-BlackItalic.woff2') format('woff2'),
    url('/fonts/PierSans-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: italic;
  font-weight: normal;
  src:
    url('/fonts/PierSans-Italic.woff2') format('woff2'),
    url('/fonts/PierSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/PierSans-Regular.woff2') format('woff2'),
    url('/fonts/PierSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pier Sans';
  font-style: italic;
  font-weight: bold;
  src:
    url('/fonts/PierSans-BoldItalic.woff2') format('woff2'),
    url('/fonts/PierSans-BoldItalic.woff') format('woff');
}

// Fonts
$f-pacifico: 'Pacifico';

$f-primary: 'Pier Sans', sans-serif;
