// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  } @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  } @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

&.is-desktop {
  width: 600px;
  .fold-content {

    h2 {
      font-size: 3.2rem;
    }
  }
}

&.is-huge {
  @include center(x);
  width: 800px;

  .fold-content {
    padding: 4em;

    > * {
      transform: translateY(40px);
    }

    em {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  .fold-left,
  .fold-right {
    float: left;
    height: 100%;
    width: 50%;
  }

  .fold-right {
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    perspective-origin: 0% 50%;

    &::after {
      transform-origin: right center;
      transform: translateX(-100%) rotateY(-90deg);
    }
  }

  .fold-left {
    display: block;
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    perspective-origin: 100% 50%;

    &::after {
      transform-origin: left center;
      transform: translateX(100%) rotateY(90deg);
    }
  }
}

// .folding-panel
& {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  overflow: hidden;

  .fold-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 4em 2em;

    visibility: hidden;

    > * {
      opacity: 0;
      transform: translateY(20px);
    }

    em {
      display: inline-block;
      margin: 1em 0;
      font-size: 1.8rem;
    }

    h2 {
      font-size: 2.4rem;
    }

    p, em {
      line-height: 1.6;
    }

    p {
      margin-bottom: 1em;
      font-size: 1.4rem;
    }
  }

  .fold-left, .fold-right {
    /* the :after elements of .fold-left and .fold-right are the 2 fold sides */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    /* enable a 3D-space for children elements */
    perspective: 2000px;

    &::after {
      /* 2 fold sides */
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      /* Force Hardware Acceleration */
      transform: translateZ(0);
      backface-visibility: hidden;
    }
  }

  &.is-open {
    .fold-content {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      visibility: visible;

      > * {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
