& {
  /* 'X' close icon */
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 10px;
  right: 10px;
  height: 44px;
  width: 44px;

  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  opacity: 0;
  transition: opacity .2s 0s;

  &:hover {
    cursor: pointer;
  }

  &::after,
  &::before {
    /* lines of 'X' icon */
    content: '';
    position: absolute;
    height: 3px;
    width: 32px;
    left: 50%;
    top: 50%;
    backface-visibility: hidden;
    transition: opacity .2s;
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &::before {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}
